/** #main #poem span {
	font-family: monospace;
	word-spacing: 0em;
	letter-spacing: 0em;
	}
#main #poem span.prosody-shadowsyllable, #main #poem span.prosody-placeholder {
	font-size: 9pt;
	margin: 0;
	padding: 0;
	}
	*/
span.prosody-footmarker {
	color: #DEB887;
	vertical-align: bottom;
	padding: 0;
}


#poem span {
	word-spacing: 0;
	letter-spacing: 0;
}