/**
 * Fixes for IE 
 */

#poem span {
	letter-spacing: 0 !important;
	word-spacing: 0 !important;
	overflow: hidden;
}

body #main {
	font-family: "MS Mincho", "Arial Unicode MS", Helvetica, sans-serif !important;
}
