* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 15px;
    background: #222222;
    color: #FFFFFF;
}

div.prosody-line {
    display:table-row-group;
    width: 600px;
}
div.prosody-shadowline {
    display:table-row;
    height: 18px;
}
div.TEI-l {
    display:table-row;
}
span:hover {
    background:#444;
} 

span.prosody-shadowsyllable {
    display:table-cell;
    empty-cells: show;
    /*padding-right:1em;*/
    text-align:center;
    font-size: 14px;
}
span.prosody-syllable 
{
white-space:pre;
    display:table-cell;
    /* padding-right:1em; */
}
span.prosody-marker {
    visibility:visible;
    white-space:pre;
}
span.prosody-placeholder {
    visibility:hidden;
    white-space:pre;
}
span.prosody-checkstress {
    display:table-cell;
}
span.prosody-checkfeet {
    display:table-cell;
}

p.prosody-note {
    display:none;
}
button.prosody-note-button {


}


#poem {
    width: 700px;
    height: 629px;
    padding: 20px;
}

#poem span {
    word-spacing: .4em;
    letter-spacing: .03em;
    }
    
#poem #title {
    margin: 0 0 20px 0;
}

.buttons {
    /* position: absolute;
    left: 400px;
    margin-top: -20px; */
    float: right;
    margin-top: -1.5em;  
}

button img {
    vertical-align: middle;
}

button {
	background: none;
	border: none;
	color: #FFFFFF;
}

label {
	vertical-align: bottom;
}

