div.prosody-line {
    display:table-row-group;
}
div.prosody-shadowline {
    display:table-row;
}
div.TEI-l {
    display:table-row;
}
span:hover {
    font-weight :bolder;
} 

span.prosody-shadowsyllable {
    display:table-cell;
    empty-cells: show;
    /*padding-right:1em;*/
    text-align:center;
}
span.prosody-syllable 
{
white-space:pre;
    display:table-cell;
    /* padding-right:1em; */
}
span.prosody-marker {
    visibility:visible;
    white-space:pre;
}
span.prosody-placeholder {
    visibility:hidden;
    white-space:pre;
}
span.prosody-checkstress {
    display:table-cell;
}
span.prosody-checkfeet {
    display:table-cell;
}