* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 16px;
    background: #222222;
    color: #FFFFFF;
}

div.prosody-line {
    display:table-row-group;
}
div.prosody-shadowline {
    display:table-row;
}
div.TEI-l {
    display:table-row;
}
span:hover {
    text-decoration:underline;
} 

span.prosody-shadowsyllable {
    display:table-cell;
    empty-cells: show;
    /*padding-right:1em;*/
    text-align:center;
}
span.prosody-syllable 
{
white-space:pre;
    display:table-cell;
    /* padding-right:1em; */
}
span.prosody-marker {
    visibility:visible;
    white-space:pre;
}
span.prosody-placeholder {
    visibility:hidden;
    white-space:pre;
}
span.prosody-checkstress {
    display:table-cell;
}
span.prosody-checkfeet {
    display:table-cell;
}
